h6{
    color: white;
    font-weight:550
}
@media (max-width: 1023px) {
	h6{
        color: white;
		
	}
}

dan {
    display:flex;
    width:autopx;
    height:400px;
}

dan  img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

dan img:hover {
    cursor: crosshair;
    width: 200px;
    opacity: 1;
    filter: contrast(120%);
}
